@{
    ViewData["Title"] = "HomePage";
}
    <section class="featuring">
        <div class="container-featuring">
            <div class="frete">
                <h3>FRETE GRATIS</h3>
        </div>
        <button id="button-featuring"type="text">ENTRE</button>   
        </div>
    </section>
                                                                                                    <!--end featuring-->

                                                                                                        <!--promoções-->
    <section class="promocoes">
        <section class="container-promocoes">
            <section class="botao-promocao"><h3>LEVE 3 PAGUE 2</h3></section>
            <section class="botao-promocao"><h3>2 POR 99,00</h3></section>
            <section class="botao-promocao"><h3>3 POR 99,00</h3></section>
            <section class="botao-promocao"><h3>4 POR 99,00</h3></section>
        </section>
    </section>
                                                                                                            <!--sessoes-->
    <section class="sessao">
        <section class="container-sessao">
            <div class="box-sessao">
                <div class="box-sessao-img">
                    <img src="img/glasses-3592607_1920.jpg" alt="">
                </div>
                <p>Roupas Masculinas</p>
            </div>
            <div class="box-sessao">
                <div class="box-sessao-img ">
                    <img src="img/pexels-pixabay-247206.jpg" alt="">
                </div>
                <p>Roupas Femininas</p>
            </div>
            <div class="box-sessao">
                <div class="box-sessao-img">
                    <img src="img/model-3016384_1920.jpg" alt="">
                </div>
                <p>Roupas Infantis</p>
            </div>
       </section>
    </section>                                                                                                  <!--categoria-->
    <section class="categorias">
        <h3>Categoria</h3>
        <div class="container-categorias">
            <div class="categoria-img">
                <img src="img/football-3471402_1920@2x.png" alt="">
            </div>
            <div class="categoria-img">
                <img src="img/beach-2179183_1920.png" alt="">
            </div>
            <div class="categoria-img">
                <img src="img/new-zealand-583174_1920@2x.png" alt="">
            </div>
            <div class="categoria-img">
                <img src="img/climbing-2264698_1920.png" alt="">
            </div>
            <div class="categoria-img">
                <img src="img/fitness-2378982_1920@2x.png" alt="">
            </div>
            <div class="categoria-img">
                <img src="img/bicycle-789648_1920.png" alt="">
            </div>
        </div>
    </section>
   
                                                                                                 <!--end categoria-->
                                                                                                    <!--marcas-->
    <section class="marcas">
        <h3>Algumas das Nossas Marcas</h3>
        <div class="container-marcas">
            <div class="img-marcas"><img src="img/quiksilver-logo-1 (1).png" alt=""></div>
            <div class="img-marcas"><img src="img/oakley-logo-2@2x.png" alt=""></div>
            <div class="img-marcas"><img src="img/adidas-logo-1@2x.png" alt=""></div>
        </div>
    </section>

  

