#faixaMarcas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.containerdasMarcas{
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 100%;
}
.circuloDeMarca{
    max-width: 130px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circuloDeMarca img{
    width: 70%;
    box-sizing: border-box;
    
}