#faixaPromocao{
    max-width: 100%;
    height: auto;
    background: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
}
.boxPromocao{
    margin: 5px 0;
    display: flex;
    height: 80px;
    width: 33%;
    background: #fffffff3;justify-content: center;cursor: pointer;
}

#boxPromocaoIconeCamisa img{
    max-width: 20%;
}
#boxPromocaoIconeCamisa{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

#boxPromocaoTextoCamisa{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-right:1px solid rgba(53, 52, 52, 0.459);
}

#boxPromocaoIconesapato img{
    width: 30%;
}
#boxPromocaoIconesapato{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}
#boxPromocaoTextosapato{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left:5px;
    border-right:1px solid rgba(53, 52, 52, 0.459);

}
#boxPromocaoTextoLeveMaisPagueMenos{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

#boxPromocaoIconeLeveMaisPagueMenos img{
    width: 20%;
}
#boxPromocaoIconeLeveMaisPagueMenos{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right:5px ;

}
