
.loginForm{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.loginForm input{
    border: 1px solid rgba(0, 0, 0, 0.589);
    background: transparent;
    color: rgb(27, 27, 27);
    padding: 10px 10px;
    font-size: 16px;
}

.loginForm p a{
    color: rgba(0, 0, 0, 0.514);
}
.loginForm p a:hover{
    color:#2D1E2F;
}
.botaoLogin:hover{
    background: #2D1E2F;
    border: transparent;
    color: thistle;
}
.botaoLogin{
    padding: 0 20px;
}
