
.container{
    width: 80%;
    height: auto;
    margin: 0 auto;
}

.box{
    width: 100%;
    margin: 0 auto;
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}


.grade{
    width: 100%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    
    flex-wrap: wrap;
}
.conteudo{
    width: 250px;
    height: auto;
    margin-bottom: 18px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
}
.conteudo > .imagemConteudo{
    width: 240px;
    height: 250px;
    background: rgb(218, 217, 217);
    margin-bottom: 5px;
    border-radius:2px ;
    cursor: pointer;
}
.conteudo > .tituloConteudo{
    width: 190px;
    border-radius:2px ;
    height: 40px;
    background: rgb(240, 240, 240);
    margin-bottom: 5px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.conteudo > .valorConteudo{
    width: 100px;
    height: 40px;
    border-radius:2px ;
    background: rgb(241, 241, 241);
    margin-bottom: 5px;
    justify-content: center;
    display: flex;
    align-items: center;
}
