/*  CORES DO PROGETO:
    color:#E3170A  vermelho
    color:#A9E5BB azul claro
    color:#FCF6B1 bege
    color:#F7B32B amarelo
    color:#2D1E2F roxo escuro menu*/
html,body{
    padding: 0; margin: 0 auto;box-sizing: border-box;font-family: 'Roboto', sans-serif;
    width: 100%;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: auto;
    margin: 0 auto;
}
.containerGeral
{
    width: 100%; 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
/*INICIO DO MENU*/
.navegacao{
    position: fixed;
    display: flex;
    width: 100%;
    height: 80px;
    background-color:#2D1E2F;
    justify-content: space-between;
    align-items: center;
}
.navegacao ul{
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}
.navegacao ul li{
    padding-right: 20px;
    color: rgb(7, 93, 168);
}
.navegacao ul li a{
    color: aliceblue;
    text-decoration: none;
}
.logo{
    color: aliceblue;
    font-weight: bold;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputmenu{
    border-radius: 23px;
    width: 350px;
    height: 25px;
    border: none;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 1em;
}
.menuGerencia{
    padding-top: 100px;position: fixed;
}
.menu-column{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-around;position: fixed;
}
.menu-column-links ul{
    display: flex; 
}
.menu-column-links ul li{
    padding: 0 10px;
    list-style: none;
}
.controle{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:80px 0 0 0;
    background: rgb(71, 71, 71);
}
.controle ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.controle ul li a{
    color: white;
    text-decoration: none;
    font-size: 1em;
}
.margemDoTopo{
    padding-top: 80px;
}

/*Login*/
.loginForm{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.loginForm input{
    border: 1px solid rgba(0, 0, 0, 0.589);
    background: transparent;
    color: rgb(27, 27, 27);
    padding: 10px 10px;
    font-size: 16px;
}

.loginForm p a{
    color: rgba(0, 0, 0, 0.514);
}
.loginForm p a:hover{
    color:#2D1E2F;
}
.botaoLogin:hover{
    background: #2D1E2F;
    border: transparent;
    color: thistle;
}
.botaoLogin{
    padding: 0 20px;
}

.rodape{
    width: 100%;
    height: 200px;
    background-color: #2D1E2F;
    color: blanchedalmond;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.divisaoRodape{
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
.divisaoRodape ul li{
    list-style: none;
}
.divisaoRodape ul li a{
    text-decoration: none;
    color: white;
}
.container{
    width: 100%;display: flex;justify-content: center;align-items: center;
}

/*PRODUTO DETALHE*/
.paginaDeCompra{
    display: flex;
}
.produtoDetalhebg{
    display: flex;
}
.produtoDetalhebg p{
    font-size: 1.2em;
}
.produtoImagembg{
    display: flex;
}
    .produtoImagem{
        width: 70%;
        margin: 0 auto;
    }
        .produtoImagem img{
            width: 100%; 
        }
.produtoPagamentobg{
    display: flex;
}
.produtoPagamento p{
 font-size: 1.2em;
 text-align: left;
}
.linksDeAcesso{
    padding-top: 110px;
    color:#2D1E2F ;
    width: 100%;
    height: 80px;
    font-size: 1em;
}
.linksDeAcesso a{
    color:#2D1E2F ;
    text-decoration: none;
}
/*PRODUTOS*/
.box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.grade{
    width: 80%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.conteudo{
    width: 250px;
    height: auto;
    margin-bottom: 18px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
}
.conteudo > .imagemConteudo{
    width: 240px;
    height: 250px;
    background: rgb(218, 217, 217);
    margin-bottom: 5px;
    border-radius:2px ;
    cursor: pointer;
}
.conteudo > .tituloConteudo{
    width: 190px;
    border-radius:2px ;
    height: 40px;
    background: rgb(240, 240, 240);
    margin-bottom: 5px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.conteudo > .valorConteudo{
    width: 100px;
    height: 40px;
    border-radius:2px ;
    background: rgb(241, 241, 241);
    margin-bottom: 5px;
    justify-content: center;
    display: flex;
    align-items: center;
}

/*USUARIO LISTA*/

.imagemUsuario{
    width: 80px;
    height: 80px;
    background: rgb(226, 225, 225);
    margin-top: 15px;
    margin-bottom: 5px;
    border-radius:50px ;
}
.idUsuario{
    width: 190px;
    border-radius:2px ;
    height: 40px;
    background: rgb(226, 225, 225);
    margin-bottom: 5px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.nomeUsuario{
    width: 190px;
    border-radius:2px ;
    height: 40px;
    background: rgb(226, 225, 225);
    margin-bottom: 5px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.loginUsuario{
    width: 190px;
    border-radius:2px ;
    height: 40px;
    background: rgb(226, 225, 225);
    margin-bottom: 5px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.senhaUsuario{
    width: 190px;
    border-radius:2px ;
    height: 40px;
    background: rgb(226, 225, 225);
    margin-bottom: 5px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.tipoUsuario{
    width: 190px;
    border-radius:2px ;
    height: 40px;
    background: rgb(226, 225, 225);
    margin-bottom: 15px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.alteracoesUsuario{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

