@model Produtos
@{
ViewData["Title"]="Cadastro do Produtos";
}
<h2>Cadastro de Produtos</h2> 
    <p id="">@ViewBag.Mensagem</p> 
    <form asp-action="Cadastro" method="POST">      
        <p>         
            <label asp-for="Nome">Nome:</label>         
            <input asp-for="Nome" />     
        </p>     
        <p>         
            <label asp-for="Valor">Valor:</label>         
            <input asp-for="Valor" />     
        </p>      
        <p>         
            <label asp-for="Quantidade">Quantidade:</label>         
            <input asp-for="Quantidade" />     
        </p>      
            <input type="submit" value="Cadastrar" />     
        </p> 
    </form> 
