@model Produtos
@{
ViewData["Title"]="Cadastro do Produtos";
}

    <div class="containerGeral" style="height:100vh">
        <p>@ViewBag.Mensagem</p>
        <form asp-action="Cadastro"method="POST" class="loginForm">
            <P>
               <h1> CADASTRAR PRODUTO</h1>
            </P>
            <p>          
            <input asp-for="Nome"  placeholder="Nome">     
        </p>     
        <p>          
            <input asp-for="Valor"  placeholder="Valor">     
        </p>      
        <p>                 
            <input asp-for="Quantidade"  placeholder="Quantidade">     
        </p>      
            <input type="submit" value="Cadastrar" />     
        </p> 
        </form>
         <p id="">@ViewBag.Mensagem</p>
    </div>
