@model IEnumerable<Produtos>
@{     ViewData["Title"] = "Listagem de Produtos"; } 

<div class="container">
        
       

        <div class="box">

            <div class="tituloSessao">Produtos</div>

            <div class="grade">
                @foreach (Produtos i in Model)
                {
                <div class="conteudo">
                    <div class="imagemConteudo">
                        
                    </div>
                    <div class="tituloConteudo">
                        @i.Nome
                    </div>
                    <div class="valorConteudo">
                        @i.Valor
                    </div>
                     <td>
                   <a href="/Produtos/Editar?Id=@i.Id">editar</a>
                   <span> | </span>
                   <a href="/Produtos/Remover?Id=@i.Id">remover</a>
               </td>
                </div>
                }
               
                
            </div>
        </div>
       
    </div>