@model IEnumerable<Produtos>
@{     ViewData["Title"] = "Produtos"; }
          
       
<div class="container">
        
       

        <div class="box">

            <div class="tituloSessao">Produtos</div>

            <div class="grade">
                @foreach (Produtos i in Model)
                {
                <div class="conteudo">
                    <div class="imagemConteudo">
                        
                    </div>
                    <div class="tituloConteudo">
                        @i.Nome
                    </div>
                    <div class="valorConteudo">
                        @i.Valor
                    </div>
                </div>
                }
               
                
            </div>
        </div>
       
    </div>