@model Usuario
@{     ViewData["Title"] = "cadastro usuario"; }
<div class="containerGeral"style="padding-top:100px;">
 <form asp-action="cadastroCliente" method="POST">      
        <p>         
            <label asp-for="Nome">Nome:</label>         
            <input asp-for="Nome" />     
        </p>     
        <p>         
            <label asp-for="Login">Login:</label>         
            <input asp-for="Login" />     
        </p>     
        <p>         
            <label asp-for="Senha">Senha:</label>         
            <input asp-for="Senha" type="password"/>     
        </p> 
        <p>         
            <label asp-for="Tipo" >Tipo de conta:</label>         
            <select asp-for="Tipo" id="" >
                <option value="2" >CLIENTE</option>
            </select>    
        </p>     
        <p>         
            <input type="submit" value="Cadastrar" />     
        </p> 
    </form> 
</div>