@model Usuario
@{     ViewData["Title"] = "Login"; }

    <div class="container margemDoTopo">
        <form asp-action="Login"method="POST" class="loginForm">
            <P>
               <h2>Login:</h2>
            </P>
            <p>
                <input type="text" asp-for="Login" placeholder="Login" >
            </p>
            <p>
                <input type="password" asp-for="Senha" placeholder="Senha">
            </p>
            <p><a href="">Esqueceu sua senha?</a></p>
            <p>
                <input type="submit" value="ACESSAR CONTA" class="botaoLogin" >
            </p>
            <p>@ViewBag.Mensagem</p>
        </form>
    </div>
   
