@model Usuario
@{     
    ViewData["Title"] = "Listagem de Usuário"; 
} 
<div class="containerGeral">
    <form method="POST" class="formularioLogin">
        <h1>Login</h1>
            <div>
                <input type="text" placeholder="Login" asp-for="Login">
                <input type="e-mail" placeholder="Senha" asp-for="Senha">
                <button type="submit" class="btn">Entrar</button>
                <a  asp-controller="Usuario" asp-action="CadastroCliente">cadastrar usuario</a>
                <p>@ViewBag.Mensagem</p>
            </div>
    </form>

   

    

</div>