@model Usuario
@{     ViewData["Title"] = "Login"; }

    <div class="containerGeral"style="height:100vh">
        <p>@ViewBag.Mensagem</p>
        <form asp-action="LoginCliente" method="POST" class="loginForm">
            <P>
               <h1> FAÇA O LOGIN</h1>
            </P>
            <p>
                <input type="text" asp-for="Login" placeholder="Login" size="50">
            </p>
            <p>
                <input type="text" asp-for="Senha" placeholder="Senha" size="50">
            </p>
            <p><a href="">Esqueceu sua senha?</a></p>
            <p>
                <input type="submit" value="ACESSAR CONTA" class="botaoLogin">
            </p>
            
        </form>
    </div>
   
