@model Usuario
@{     ViewData["Title"] = "Login"; }

    <div class="container margemDoTopo">
        <form asp-action="Login"method="POST" class="loginForm">
            <P>
               <h1> FAÇA O LOGIN</h1>
            </P>
            <p>
                <input type="text" asp-for="Login" placeholder="Login" size="50">
            </p>
            <p>
                <input type="text" asp-for="Senha" placeholder="Senha" size="50">
            </p>
            <p><a href="">Esqueceu sua senha?</a></p>
        <p>@ViewBag.Mensagem</p>
            <p>
                <input type="submit" value="ACESSAR CONTA" class="botaoLogin" >
            </p>
            
        </form>
    </div>
   
